body{
  background: blue;
  color:#fff;


}
h2{
  color:white;
}
.caja {
font-family: sans-serif;
font-size: 18px;
font-weight: 400;
color: #ffffff;
background:#ee0467 }
.boton{
  color: #0099CC;
  background: transparent;
  border: 2px solid #0099CC;
}
